mat-stepper{
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;

  .row{
    display: inline-flex;
    margin-top: 1em;
    margin-bottom: 1em;

    mat-form-field{
      width: 100%;

      mat-icon{
        transition: var(--fade-in-time);
      }

      mat-icon:hover{
        color: var(--accent-color);
      }
    }

    ::ng-deep mat-form-field .mat-form-field-outline-start {
      background-color: white !important;
    }

    ::ng-deep mat-form-field .mat-form-field-outline-gap {
      background-color: white !important;
    }

    ::ng-deep mat-form-field .mat-form-field-outline-end {
      background-color: white !important;
    }
  }

  .cards{
    display: inline-flex;
    flex-wrap: wrap;

    app-cooperated-card{
      width: 100%;
      max-width: 25em;
      margin: auto;
      padding-top: 1em;
    }
  }
}
