<mat-stepper linear>
  <mat-step [stepControl]="cooperatedForm">
    <ng-template matStepLabel>Inicio</ng-template>

    <form [formGroup]="cooperatedForm" novalidate>

      <h1>Informe o CPF do futuro cooperado (a)</h1>
      <span>Se necessário, você poderá duplicar uma conta existente ou pausar e retornar esse cadastro futuramente.</span>
      <span>Digite apenas os números (sem pontos ou traçoes)</span>

      <div
        class="row"
        fxLayout.gt-sm="row"
        fxLayout="column"
        fxLayoutGap="1em"
      >

        <mat-form-field
          fxFlex = "100%"
          fxFlex.gt-sm = "33%"
          appearance="outline"
        >
          <input matInput formControlName="cpf" placeholder="CPF" [mask]="CPFMask">


          <button
            *ngIf="!foundCPF"
            mat-icon-button
            matSuffix
            type="button"
            (click)="searchCPF()"
          >
            <mat-icon>search</mat-icon>
          </button>

          <button
            *ngIf="foundCPF"
            mat-icon-button
            matSuffix
            type="button"
            (click)="resetForm()"
          >
            <mat-icon>close</mat-icon>
          </button>

          <mat-error *ngIf="cooperatedForm.controls.cpf.hasError('required')">
            CPF é <strong>Obrigatorio!</strong>
          </mat-error>

          <mat-error *ngIf="!cooperatedForm.controls.cpf.hasError('required') && cooperatedForm.controls.cpf.invalid">
            CPF <strong>Invalido!</strong>
          </mat-error>
        </mat-form-field>

      </div>

      <div *ngIf="foundCPF" class="cards">
        <app-cooperated-card
          title="Situação cadastral do CPF"
          subtitle="Consulta na receita federal"
          [cooperated]="getCooperatedFromForm()"
          [template]="CardTemplateEnum.STATUS"
        ></app-cooperated-card>
        <app-cooperated-card
          title="Conta aplicação"
          subtitle="Cooperativa Viacredi"
          [cooperated]="getCooperatedFromForm()"
          [template]="CardTemplateEnum.APPLICATION_ACCOUNT"
        >
        </app-cooperated-card>
        <app-cooperated-card
          title="Conta corrente"
          subtitle="Cooperativa Viacredi"
          [cooperated]="getCooperatedFromForm()"
          [template]="CardTemplateEnum.CHECKING_ACCOUNT"
        ></app-cooperated-card>
      </div>

    </form>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Documentos</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Dados Cadastrais</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Admissão</ng-template>
  </mat-step>
</mat-stepper>
