@use '../../../node_modules/@angular/material' as mat;
@include mat.core();

$md-mouts: (
  50 : #e4ebef,
  100 : #bbced8,
  200 : #8daebe,
  300 : #5f8da3,
  400 : #3d7490,
  500 : #1b5c7c,
  600 : #185474,
  700 : #144a69,
  800 : #10415f,
  900 : #08304c,
  A100 : #81c4ff,
  A200 : #4eadff,
  A400 : #1b95ff,
  A700 : #0289ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mouts-primary: mat.define-palette($md-mouts);
$mouts-accent: mat.define-palette($md-mouts, A200, A100, A400);
$mouts-warn: mat.define-palette(mat.$red-palette);

$mouts-theme: mat.define-light-theme((
  color: (
    primary: $mouts-primary,
    accent: $mouts-accent,
    warn: $mouts-warn,
  )
));

:root{
  --primary-color: #1B5C7C;
  --accent-color: #4EADFF;
  --warn-color: #F44336;
  --main-bg-color: #E6EEF2;
  --success: #2D884D;
  --warning: #ABB33B;
  --danger: #B34045;
  --item-color: rgba(255,255,255, 0.3);
  --item-card-color: rgba(125, 125, 125, 0.5);
  --fade-in-time: 200ms;
  --spin-time: 500ms;
  --item-container-hover-color: rgba(0,0,0, 0.1);
  --header-footer-size: 4em;
}

@include mat.all-component-themes($mouts-theme);
