mat-card{

  height: 15em;

  .card-template{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .card-content{

      display: inline-flex;
      justify-content: center;
      align-items: center;

      mat-icon{
        font-size: 50px;
        height: 50px;
        width: 50px;
        padding: 0.2em;
        color: var(--item-card-color);
      }

      .card-form-field{
        display: flex;
        flex-direction: column;

        label{
          font-weight: lighter;
        }

        span{
          font-size: 1.5em;
        }
      }
    }
  }
}
