<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="template === CardTemplateEnum.STATUS" [ngTemplateOutlet]="status"></ng-container>
    <ng-container *ngIf="template === CardTemplateEnum.APPLICATION_ACCOUNT" [ngTemplateOutlet]="applicationAccount"></ng-container>
    <ng-container *ngIf="template === CardTemplateEnum.CHECKING_ACCOUNT" [ngTemplateOutlet]="checkingAccount"></ng-container>
  </mat-card-content>
</mat-card>


<ng-template #status >

  <div class="card-template">

    <div class="card-content">
      <mat-icon>person</mat-icon>
      <div class="card-form-field">
        <label for="name">Nome</label>
        <span id="name">{{ cooperated?.name }}</span>
      </div>
    </div>

    <div class="card-content">
      <mat-icon style="color: var(--success);">check_circle_outline</mat-icon>
      <div class="card-form-field">
        <label for="status">Situação do CPF</label>
        <span id="status">{{ cooperated?.status }}</span>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #applicationAccount>

  <div class="card-template">

    <div class="card-content">
      <mat-icon>credit_card</mat-icon>
      <div class="card-form-field">
        <label for="applicationAccount">Número da conta</label>
        <span id="applicationAccount">{{ cooperated?.applicationAccount ?? '' | mask: AccountMask }}</span>
      </div>
    </div>

    <div class="card-content">
      <button mat-button color="primary">Duplicar conta</button>
    </div>

  </div>

</ng-template>

<ng-template #checkingAccount>

  <div class="card-template">

    <div class="card-content">
      <mat-icon>credit_card</mat-icon>
      <div class="card-form-field">
        <label for="checkingAccount">Número da conta</label>
        <span id="checkingAccount" >{{ cooperated?.checkingAccount ?? '' | mask: AccountMask }}</span>
      </div>
    </div>

    <div class="card-content">
      <button mat-button color="primary">Duplicar conta</button>
    </div>

  </div>

</ng-template>
