<mat-sidenav-container fullscreen>

  <mat-sidenav
    [mode]="sideNavMode"
    [opened]="openSideNav"
    (openedStart)="setSideNavOpenState(true)"
    (closedStart)="setSideNavOpenState(false)"
  >
    <div class="logo">
      <mat-icon svgIcon="logo"></mat-icon>
    </div>
    <app-menu
      (handleRedirect)="redirect($event)"
    ></app-menu>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <div *ngIf="currentPlataform === PlataformEnum.MOBILE" class="toggle-buttons">
        <button
          mat-icon-button
          *ngIf="!openSideNav"
          (click)="setSideNavOpenState(true)"
        >
          <mat-icon class="close">chevron_right</mat-icon>
        </button>

        <button
          mat-icon-button
          *ngIf="openSideNav"
          (click)="setSideNavOpenState(false)"
        >
          <mat-icon class="open">chevron_left</mat-icon>
        </button>
      </div>

      <div
        *ngIf="currentPlataform !== PlataformEnum.MOBILE"
        class="header"
      >
        <a
          [innerHTML]="headerHTMl"
        >

        </a>
      </div>

      <div class="user">
        <mat-icon>notifications_none</mat-icon>
        <div class="name">
          <span>VIACREDI</span>
        </div>
        <ngx-avatar bgColor="#1B5C7C" name="John Doe"></ngx-avatar>
      </div>

    </mat-toolbar>

    <ngx-simplebar>
      <router-outlet (activate)="handleOutletLoaded($event)"></router-outlet>
    </ngx-simplebar>

    <div class="footer">
    </div>

  </mat-sidenav-content>


</mat-sidenav-container>
