mat-sidenav-container{
  background-color: var(--main-bg-color);

  mat-sidenav{
    background-color: var(--primary-color);

    .logo{
      display: flex;
      align-items: center;
      vertical-align: middle;
      justify-content: center;
      padding: 1em;

      mat-icon{
        transform: scale(2);
      }
    }
  }

  mat-sidenav-content{

    mat-toolbar{
      background-color: white;
      height: var(--header-footer-size);

      .toggle-buttons{

        mat-icon{
          color: var(--primary-color);
          transition-property: transform;
        }

        .open{
          transform:rotate(180deg);
          animation:spin-left var(--spin-time) forwards;
        }

        .close{
          transform:rotate(-180deg);
          animation:spin-right var(--spin-time) forwards;
        }

        @keyframes spin-left {
          100% {
              -webkit-transform: rotate(360deg);
              transform:rotate(360deg);
          }
        }

        @keyframes spin-right {
          100% {
              -webkit-transform: rotate(-360deg);
              transform:rotate(-360deg);
          }
        }
      }

      .header{
        font-size: 0.8em !important;
      }

      .user{

        display: inline-flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;

        mat-icon{
          color: var(--primary-color);
          padding: 0 0.5em 0;
        }

        .name{

          border: 0.1em solid var(--primary-color);
          border-radius: 1em;
          padding: 0 0.5em 0;

          span{
            padding: 0.5em;
            font-weight: bold;
            color: var(--primary-color)
          }
        }

        ngx-avatar{
          padding: 0 0.5em 0;
        }

      }
    }

    ngx-simplebar{
      background-color: var(--main-bg-color);
      height: calc(100vh - 2 * var(--header-footer-size) - 2em);
    }

    .footer{
      position: fixed;
      background-color: white;
      width: 100%;
      height: var(--header-footer-size);
    }

  }
}
