<div *ngFor="let menuItem of menuItens">
  <div
    class="menu"
    (click)="redirect(menuItem)"
    [ngClass]="{'active': menuItem.module === activeModule}"
  >
    <mat-icon >{{menuItem.icon}}</mat-icon>
  </div>
</div>
